body{
    margin: 40px;
    background-image: url("/static/images/dance1.png");
    background-size: cover;
    background-attachment: fixed;
    opacity: 5.0
}

h2{
    font-size: 35px; 
    font-weight: bold; 
    color:  rgb(167, 236, 76);
    text-align: center;
}


h5{
    font-size: 20px; 
    color:oldlace;
    background: rgb(80, 144, 173);
    border-radius: 25px;
    height: 50px;
    width: 300px;
    margin: auto;
    border: none;
    text-align: center;
    

}  

#middle{
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 30px;
    background: rgba(124, 202, 189, 0.4);  
    text-align: center;
    font-size: 10px;
    height: 600px;
    overflow: scroll;
    border-radius: 25px;
    
}

#top-middle{
    text-align: center;
}

.selection{
    width: 50px;
    color: red;
}


ul{
    list-style-type: none;
    margin: 10px;
}



.modal-content{
    background: oldlace;
    width: 500px;
    text-align: center;
    position: absolute;
    width: 400px;
    height: 300;
    margin: 20px;
    padding: 20x;
    margin-top: 80px;
    box-shadow: -1px 1px 60px 10px rgb(127, 127, 139);
    background: rgba(0,0,0,0,4);
    text-align: center;
    top: -13px
}


.modal-content h3{
    color: rgb(80, 144, 173);
    
}

.modal-content label{
    color: rgb(115, 163, 185);
}

.modal-content input{
    font-weight: bold;
    background: oldlace;
    color: rgb(80, 144, 173);
}


#add_teacher{
    height: 40px;
    width: 200px;
    padding: 0;
    margin: auto;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    background: rgb(80, 144, 173);
    color: oldlace;
}


.selection{
  
    font-size: 20px;
    color: oldlace;
   
}



a{
    font-size: 23px;
    color: rgb(65, 23, 65)
}



nav{
    width:  10%;
    height: 65px;
    position: relative;
    /* background: whitesmoke; */
    box-shadow: -1px 1px 60px 10px rgb(127, 127, 139);
    float: right;
    border-radius: 18px;
}


.nav-container{
    width: 200px;
    height: 65px;
    justify-content: right;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.05em;
    position: relative;
}


.menu{
    width: 100%;
    height: 65px;
   
}

.menu>.menu-content{
    width: 200px;
    height: 65px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 65px;
}

.menu>.menu-content>a{
    text-decoration: none;
    
}

.dropdown-menu.show{
    margin-right: 100px;
    width: 50%;
    position: relative;
    display: inline-block;
    font-size:10%;
    background: rgba(124, 202, 189, 0.4); 
    border-radius: 15px;
    
}

.dropdown-item{
    color: red;
    size: 10px;
    font-size: 20px;
   
}


.class{
    float: right;;
}

.nav-link.dropdown-toggle{
    color:red;
    size: 50px;
    font-family: serif;
   

}



.selection{
    color: red
}

#btn-add-teacher{
    text-align: center;;
}


.select2-selection__rendered{
    /* width: 150%; */
    background: rgb(204, 204, 218);
    width: 200px;
   
}

