<!doctype html>
<html lang="en">

<head>
<style>
   .flash{
     font-weight: bold;
     color: red;
   } 
   #logout{
    color: red; 
    /* background: rgba(124, 202, 189, 0.4); */
    font-weight: bold;
   }
</style>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 

  <!-- JQuery -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  <!-- Select2 -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />


  {% block head %}

  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>

  {% endblock head %}

 



  <!-- Optional JavaScript -->
  <!-- jQuery first, then popper, then Bootstrap JS -->
 

   <!-- AJAX -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>




    
  
  <div class="row">
      <div class="col-10"></div>

      <div class="col-2">
        {% if "user_id" in session %}
        <a id ="logout" href="/logout">Logout</a>
 
        {% endif %}


      </div>
    </div>
<!-- Show flashed messages -->
  <div class="row">
      <div class="col-10"></div>

      <div class="col-2">
          {% with messages = get_flashed_messages() %}
          {% for message in messages %}
          <div class="flash">{{ message }}</div>
          {% endfor %}
          {% endwith %}

      </div>
    </div>


 

  {% block content %}content GOES HERE{% endblock %}

</body>

</html>
