{% extends 'base.html' %}
{% block title %}Dance Styles{% endblock %}
<!-- 
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/dance_style.css">
{% endblock %} -->

{% block content %}
<h1>Dance Styles</h1>

<ul>
    {% for style in dance_styles %}
        <li>
            <a href="/dance_style/{{ style.dance_id }}">{{ style.name }}</a>
        </li>
    {% endfor %}
</ul>




<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

<!-- <script src="static/dance_style.js" charset="utf8"></script> -->
{% endblock %}