{% extends 'base.html' %}
{% block title %}Dance search | Dance Search Engine in San Francisco{% endblock %}

{% block head %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="/static/css/style_search.css">

{% endblock %}



{% block content %}

{{ dance_class.name }}






<!-- <script src="https://code.jquery.com/jquery-3.4.1.js"
                    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

                <script src="static/homepage.js" charset="utf8"></script> -->
{% endblock %}