{% extends 'base.html' %}
{% block title %}Dance search | Dance Search Engine in San Francisco{% endblock %}

{% block head %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="/static/css/teacher.css">

{% endblock %}

{% block content %}

<main>
    <nav>
        <section class="class" nav-container>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/">Home</a>
            <a class="dropdown-item" href="/dance_styles">Dance Styles</a>
            <a class="dropdown-item" href="/dance_teachers">Teachers</a>
          </div>
      
        </section>
      </nav>
  <div class="container">

    <div class="row">
      <div class="col-2">

      </div>


      <div class="col-8">
        <h3>{{ teacher.teacher_name }}</h3>
        <br>
        <h5><img id="teacher_photo" src="/static/images/teachers/{{ teacher.photo }}" alt="photo"> </h5>
        <br>
        <br>
        <div class="scroll-down">
          <p class="tab"> {{ teacher.bio }}</p>
        </div>
        </br>
        <h5 class="classes_teaches"> Classes {{ teacher.teacher_name }} teachers:</h5>
        </br>
        <div class="class-schedule">
          {% for class in dance_classes %}
          <h6><span id="class-name">class: </span>{{ class.name }}</h6>
          <h6><span id="schedule">schedule: </span>{{ class.schedule }}</h6>
          <h6><span id="school"> at: </span><a id="website" href="/dance_school/{{ class.school_id }}">{{ class.school.name }}</a></h6>
          </br>
          {% endfor %}
          <div>


            <!-- {% if teacher.ratings %} -->
            <h6><span id="all-ratings">All ratings {{ teacher.teacher_name }}  </span><span id="received">received: </span></h6>
            <ul>
              {% for rating in teacher.ratings %}
              <li>
              <!-- <a href="/users/{{ rating.user_id }}">{{ rating.user_id }}</a> -->
                {{ rating.score }}
              </li>
              {% endfor %}
            </ul>
            <!-- {% endif %} -->


            {% if "user_id" in session %}


            {% if user_rating %}
            <h3>You gave the teacher {{ user_rating.score }}</h3>
            {% endif %}


            <form action="/dance_teachers/{{ teacher.teacher_id }}" method="POST">
              <label>Rating:
                <input type="number" name="score">
              </label>
              <input type="submit" value="Rate">
            </form>
            {% endif %}


          </div>

          <div class="col-2">

          </div>
        </div>


      </div>


</main>



{% endblock %}