{% extends 'base.html' %}
{% block title %}Dance classes | Dance Search Engine in San Francisco{% endblock %}

{% block head %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="/static/css/dance_style.css">

{% endblock %}




{% block content %}

<div class="row">
    <div class="col-12">

        <h2>{{ dance_style.name }} classes</h2>
    </div>
    <br>
    <br>
    <br>
    <br>

</div>
<div class="row">
    <div class="col-1">
    </div>

    <div class="col-10">
        <table class="classes-table">
            <tr>
                <th>class</th>
                <th>when</th>
                <th>where</th>
                <th>teacher</th>
            </tr>


            {% for class in dance_classes %}

            <tr>
                <td><a href="/dance_class/{{ class.class_id }}">{{ class.name }}</a></td>
                <td>{{ class.schedule }}</td>
                <td><a href="/dance_school/{{ class.school_id }}">{{ class.school.name }}</a></td>
                <td><a href="/dance_teachers/{{ class.teacher_id }}">{{ class.teacher.teacher_name }}</a></td>
            </tr>

            {% endfor %}


        </table>

    </div>

    <div class="col-1">
    </div>




</div>




<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

<script src="static/js/homepage.js" charset="utf8"></script>
{% endblock %}