{% extends 'base.html' %}
{% block title %}Dance school{% endblock %}

{% block head %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="/static/css/style_search.css">


{% endblock %}



{% block content %}

<main>
<h4>school: {{ dance_school.name }}</h4>
</br>
<h5>address: {{ dance_school.address }}</h5>
<h5>website: <a href="https://{{ dance_school.website }}">{{dance_school.website }}</a></h5>

<!-- <h5>website: <a href="https://www.{{ dance_school.website }}"></a></h5>   -->
<h5>phone: {{ dance_school.phone }}</h5>

<div>
<section class="update"></section>
<form action='/update_school/{{ dance_school.school_id }}'>
    <input type="submit" value="Update innformation about the school">
</form>

</div>



</main>

<script src="/static/js/dance_school.js" charset="utf8"></script>
{% endblock %}