{% extends 'base.html' %}
{% block title %}Dance Styles{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/dance_styles.css">
{% endblock %}


{% block content %}

<main class="whole-page">

<nav>
        <section class="class" nav-container>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                              
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/">Home</a>
                <a class="dropdown-item" href="/dance_schools">Schools</a>
                <a class="dropdown-item" href="/dance_teachers">Teachers</a>
                </div>
                              
        </section>
</nav>
        <br>
        <br>
        <br>
        <br>
        <h2>Dance Styles</h2>
        <br>
        <br>


        <div class="row">

                <div class="col-4">
                </div>

                <div class="col-4">

                        <div class="search>">
                                <h5>find your genre</h5>


                                <select id="search-filter" class="search-filter" name="selected-item"
                                        style="width: 40%">
                                        {% for style in dance_styles %}
                                        <option value="{{ style.dance_id }}">{{ style.name }}</option>
                                        {% endfor %}


                                        <input type="submit" class="dance_style_search" id="search-submit">
                                </select>
                        </div>
                </div>
        </div>

        <div class="col-4">
        </div>

        </div>










        <section class="gallery-block cards-gallery">
                <div class="container-fluid p-0">


                        <div class="row">
                                {% for style in dance_styles %}
                                <div class="col-3">
                                        <div class="card border-0 transform-on-hover">
                                                <h5><img width="250px" height="180px" id="style_photo"
                                                                src="/static/{{ style.photo }}" alt="photo"
                                                                class="card-img-top"> </h5>

                                                <div class="card-body">
                                                        <p class="text-muted card-text"><a class="lightbox"
                                                                        href="/dance_style/{{ style.dance_id }}">{{ style.name }}</a>
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                                {% endfor %}
                        </div>

                </div>
        </section>







</main>
<script src="/static/js/dance_styles.js"></script>
{% endblock %}